/* src/components/Products/Products.module.css */

.products {
    width: 100vw;
    height: 100vh;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center space-evenly;
    align-items: center;
    gap: 0.5rem;
    overflow: hidden;
}

.btnContainer {
    display: flex;
    flex-direction: row;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 12px;
    font-size: var(--text-size);
    background-color: var(--primary);
    cursor: pointer;
}

.btn:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

.btn.active {
    background-color: #666;
    color: white;
}

.productsContainer {
    padding: 2rem 0 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 1rem;
    overflow: scroll;
}

.product {
    display: grid;
    place-items: center;
}

.product p {
    text-align: center;
    font-size: var(--text-size);
}

.product img {
    width: 75px;
    height: 75px;
}
