/* === Mobile (Minimum width: 320px) ======================================== */
.about {
    width: 100vw;
    height: 100vh;
    background: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center space-evenly;
    gap: 1rem;
    padding: 8rem 0 0 0;
}

.teamInfo {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center space-evenly;
    gap: 1rem;
}

.teamInfo {
    text-align: justify;
}

.teamPhoto {
    width: 100%;
    height: 17rem;
}

/* === Tablet (Minimum width: 640px) ======================================== */
@media (min-width: 640px) {
    .about {
        padding: 4rem 0 0 0;
    }

    .teamPhoto {
        height: 58%;
    }
}

/* === Desktop (Minimum width: 1024px) ====================================== */
@media (min-width: 1024px) {
    .teamPhoto {
        height: 62%;
    }
}
