.contact {
    width: 100vw;
    height: 100vh;
    background: var(--primary);
    display: grid;
    place-items: center;
}

.contact form {
    height: 100%;
}

.formInput {
    display: flex;
    flex-direction: column;
}

.contact input {
    color: var(--primary);
}
