/* === Mobile (Minimum width: 320px) ======================================== */
.contact {
    width: 100vw;
    height: 100vh;
    background: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 8rem 0 0 0;
}

.contact p {
    text-align: justify;
    width: 90%;
}

.contact form {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center space-evenly;
    gap: 0.8rem;
}

.formInput {
    display: flex;
    flex-direction: column;
}

.contact input {
    color: var(--primary);
}

.contact button {
    background: var(--secondary);
    border: 1px solid var(--primary);
    border-radius: 10px;
}

.contact button:hover {
    background: var(--primary);
    border: 1px solid var(--text);
}

/* === Tablet (Minimum width: 640px) ======================================== */
@media (min-width: 640px) {
    .contact {
        padding: 4rem 0 0 0;
        gap: 3rem;
    }

    .contact p {
        width: fit-content;
    }
}

/* === Desktop (Minimum width: 1024px) ====================================== */
@media (min-width: 1024px) {
}
