/* src/components/NavBar/NavBar.module.css */

.navbar {
    overflow: hidden;
    background-color: var(--primary);
}

.navbar a {
    float: left;
    display: block;
    color: var(--text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: var(--secondary);
    color: var(--primary);
}
