/* src/components/NavBar/NavBar.module.css */

.navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: var(--primary);
}

.navbar a {
    float: left;
    display: block;
    color: var(--text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 0.8rem;
}

.navbar a:hover {
    background-color: var(--secondary);
    color: var(--primary);
}
