/* src/components/Footer/Footer.module.css */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--secondary);
    color: var(--primary);
    text-align: center;
}
