:root {
    --primary: #252525;
    --secondary: #d20a2e;
    --text: #fffafa;
    --text-size: 16px;
}

* {
    margin: 0;
    font-size: var(--text-size);
    color: var(--text);
}

body,
html {
    height: 100%;
}

section {
    border: 1px solid black; /* tempory */
}

h2 {
    width: 12rem;
    text-align: center;
    background: var(--secondary);
    padding: 1rem;
    border-radius: 30px;
}

/* === Products === */

.row {
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    margin: 8px -16px;
}

.row,
.row > .column {
    padding: 8px;
}

.column {
    float: left;
    width: 33.33%;
}

.row:after {
    background-color: white;
    padding: 10px;
}

.content {
    background-color: white;
    padding: 10px;
}

.show {
    display: block;
}
